<%- provide(:titlepage, "#{@controller} : #{@page}") %>
<%= render :template => "layouts/application" %>


<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
    <h1>
      <font size="6" face="Times New Roman" color="lime">
        Log in
        <br>
      </font>
    </h1>
    <%= form_for(:session, url: login_path) do |f| %>

      <font size="4" face="Times New Roman" color="lime">
        <%= f.label :email %>
        <br><br>
        <%= f.email_field :email, class: 'form-control' %>
      </font>
      <br><br>

      <font size="4" face="Times New Roman" color="lime">
        <%= f.label :password %>
        <br><br>
        <%= f.password_field :password, class: 'form-control' %>
      </font>
      <br><br>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
          <font size="4" face="Times New Roman" color="lime">
            <span>Remember me on this computer</span>
          </font>
      <% end %>
      <br>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <font size="4" face="Times New Roman" color="lime">
      <p>New user? <%= link_to "Sign up now!", "/users/new" %></p>
    </font>
  </div>
</div>
