<!DOCTYPE html>
<html>
  <head>
    <title><%= @controller %> : <%= @page %></title>
  </head>
  <body bgcolor= <%= @bgcolor %>>

    <form name="Navigation_menu" align="left">
      <%- @links_navigation_menu.each_with_index do |value, index|%>
        <%- if (index % 3 == 0)%>
          <font size="4" face="Times New Roman">
            <%= link_to value, :controller => @links_navigation_menu[index + 1], :action =>  @links_navigation_menu[index + 2] %>
          </font>
          <font size="4" face="Times New Roman" color="green">-></font>
        <%- end %>
      <%- end %>
      <font size="4" face="Times New Roman" color="gold"> <%= @page %> </font>
    </form>

    <h2 align="center" >
      <font size=14 face="Times New Roman" color="blue"> About game </font>
    </h2>

    <form name="Info" align="left">
      <p align="left">
        <font size="6" face="Times New Roman" color="green"> This is a game. </font>
      </p>
    </form>

  </body>
</html>
