<!DOCTYPE html>
<html>
  <head>
    <title><%= @controller %> : <%= @page %></title>
  </head>
  <body bgcolor= <%= @bgcolor %>>

    <form name="Navigation_menu" align="left">
      <%- @links_navigation_menu.each_with_index do |value, index|%>
        <%- if (index % 3 == 0)%>
          <font size="4" face="Times New Roman">
            <%= link_to value, :controller => @links_navigation_menu[index + 1], :action =>  @links_navigation_menu[index + 2] %>
          </font>
          <font size="4" face="Times New Roman" color="green">-></font>
        <%- end %>
      <%- end %>
      <font size="4" face="Times New Roman" color="gold"> <%= @page %> </font>
    </form>

    <form name="Main_menu" align="center">
      <%- @links_main_menu.each_with_index do |value, index|%>
        <%- if (index % 3 == 0)%>
          <p align="center" style="margin: 1px;">
            <font size="6" face="Times New Roman">
              <%= link_to value, :controller => @links_main_menu[index + 1], :action =>  @links_main_menu[index + 2] %>
            </font>
          </p>
        <%- end %>
      <%- end %>
    </form>

  </body>
</html>
