<form name="config_list" align="center">
  <div align="left">
    <table border="1" width="100%">
      <tr>
        <td width="100%">
          <font size="4" face=<%= @face %> color="gold">Players:<br>
          <% if @location_configuration != nil%>
            <%= Player.find_each do |i|%>
              <% if i.location == @location_configuration[0]["location"]%>
                &nbsp&nbsp<%="- #{i.name_user}"%>
                <br>
              <%end%>
            <% end %>
          <% end %>
          </font>
        </td>
      </tr>
    </table>
  </div>

  <div align="left">
    <table border="1" width="100%">
      <tr>
        <td width="100%">
          <font size="4" face=<%= @face %> color="gold">Quests:<br>
          <% if @location_configuration != nil%>
            <%= Quest.find_each do |i|%>
              <% if i.id_user.to_i == current_user.id && i.stage != "255" %>
                &nbsp&nbsp<%="- #{i.name_quest} , Stage: #{i.stage}"%>
                <br>
                &nbsp&nbsp<%="Targets:"%>
                <% _t_a = i.target.delete("[").delete("]").delete("\"").split(", ") %>
                <% _c_a = i.count.delete("[").delete("]").delete("\"").split(", ") %>
                <% if _t_a.length == _c_a.length %>
                  <% _t_a.each_with_index do |val,index|%>
                    <br>
                    &nbsp&nbsp<%="- #{val} , count: #{_c_a[_t_a.index(val)]}"%>
                  <% end %>
                <% end %>

                <br>
              <%end%>
            <% end %>
          <% end %>
          </font>
        </td>
      </tr>
    </table>
  </div>
</form>