<%- provide(:titlepage, "#{@controller} : #{@page}") %>
<%= render :template => "layouts/application" %>

<div class="three"><h1> Play </h1></div>
<% if logged_in? %>

<table border="1" width="100%" class="admin-tab">
  <tr>
    <td width="33%">
      <iframe name="game_config_list" src=<%= "#{get_game_iframe_1()}" %> scrolling="yes" width="100%">
      </iframe>
    </td>
    <td width="34%">
      <table border="1" width="100%">
        <tr>
          <td>
            <font size="4" face=<%= @face %> color="lime"> <%= "HP = #{Player.find_by(id: current_user.id).hp}" %> </font>
          </td>
        </tr>
        <tr>
          <td>
            <font size="4" face=<%= @face %> color="lime"> <%= "Money = #{Player.find_by(id: current_user.id).money}" %> </font>
          </td>
        </tr>
      </table>
    </td>
    <td width="33%">
      <iframe name="game_users_list" src="/game/play/iframes_3/1" scrolling="yes" width="100%">
      </iframe>
    </td>
  </tr>
  <tr>
    <td width="33%">
      <% if @location_configuration != nil %>
        <% if @location_configuration[0]["teleport"] != nil%>
          <% @location_configuration[0]["teleport"].each_with_index do |value,index| %> 
            <%= form_for(:game, url: '/game/posts/1') do %>
              <%= submit_tag "#{value}", class: "btn btn-primary" %>
            <% end %>
          <% end %>
          </font>
        <% end %>
      <% else %>
        <font size="4" face=<%= @face %> color="red"> Wrong location. Please, call sysadm.</font>
      <% end %>
    </td>
    <td width="34%">
      <% if @location_configuration[0]["npc"] != nil%>
        <% @location_configuration[0]["npc"].each_with_index do |value,index| %>
           <% @npc_configuration = load_yml("game_config/npcs/#{value}.yml") %>
           <% if @npc_configuration[0]["quests"] != nil%>                  
             <% @npc_configuration[0]["quests"].each_with_index do |q,i| %>
               <%= form_for(:game, url: '/game/posts/2') do %>
                 <%= submit_tag "#{q}", class: "btn btn-primary" %>
               <% end %>
             <% end %>
           <% end %>
           <br>
         <% end %>
       <% end %>

    </td>
    <td width="33%">
    </td>
  </tr>
</table>
<% end %>