<%- provide(:titlepage, "#{@controller} : #{@page}") %>
<%= render :template => "layouts/application" %>

<div class="three"><h1> Sign up</h1></div>

<table bgcolor="#d1a002" align="center">
  <tr>
    <td align="center">
    <%= form_for(@user) do |t| %>
      <%= render 'shared/error_messages' %>
      <font size="4" face=<%= @face %> color="#3e441a">
        <%= t.label :name %>
        <br>
        <%= t.text_field :name, class: 'form-control' %>
      </font>
      <br><br>

      <font size="4" face=<%= @face %> color="#3e441a">
        <%= t.label :email %>
        <br>
        <%= t.email_field :email, class: 'form-control' %>
      </font>
      <br><br>

      <font size="4" face=<%= @face %> color="#3e441a">
        <%= t.label :password %>
        <br>
        <%= t.password_field :password, class: 'form-control' %>
      </font>
      <br><br>

      <font size="4" face=<%= @face %> color="#3e441a">
        <%= t.label :password_confirmation, "Confirmation" %>
        <br>
        <%= t.password_field :password_confirmation, class: 'form-control' %>
      </font>
      <br><br>

      <%= t.submit "Create my account", class: "btn btn-primary" %>
    <% end %><br>
  </td>
</tr>
</table>
