<%- provide(:titlepage, "#{@controller} : #{@page}") %>
<%= render :template => "layouts/application" %>

<h1 align="center" >
  <font size="6" face=<%= @face %> color="green"> Admin </font>
</h1>

<table align="center">
  <tr>
    <td>
      <div class="row" align="center">
        <div class="col-md-6 col-md-offset-3" align="center">
          <font size="4" face=<%= @face %> color="gold">
            User: <%= current_user.name %>
          </font>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <form name="client info" align="center">
        <div align="center">
          <font size="4" face=<%= @face %> color="white"> Your ip : <%= request.remote_ip %> </font>
          <br>
          <font size="4" face=<%= @face %> color="white"> port : <%= request.port %> </font>
        </div>
      </form>
    </td>
  </tr>
</table>
<% if logged_in? && current_user.adm == true %>
  <table border="1" width="100%">
    <tr>
      <td width="33%">
        <form name="adm_users" align="center">
          <div align="left">
            <font size="4" face=<%= @face %> color="white"> Users&nbspcount&nbsp:&nbsp<%= User.count %> </font>
            <br>
            <% User.ids.each_with_index do |value,index| %>
              <% user = User.find_by(id: value)%>
              <table border="1" width="100%">
                <tr>
                  <td width="50%">
                    <font size="4" face=<%= @face %> color="lightblue"> User&nbspid&nbsp: <%= user.id %> </font>
                    <br>
                    <font size="4" face=<%= @face %> color="lightblue"> User&nbspname&nbsp: <%= user.name %> </font>
                    <br>
                    <font size="4" face=<%= @face %> color="lightblue"> User&nbspemail&nbsp: <%= user.email %> </font>
                    <br>
                    <font size="4" face=<%= @face %> color="lightblue"> User&nbspadm&nbsp: <%= user.adm %> </font>
                    <br>
                  </td>
                  <td width="50%"></td>
                </tr>
              </table>
            <% end %>
          </div>
        </form>
      </td>
      <td width="34%">
      </td>
      <td width="33%">
      </td>
    </tr>
  </table>
<% end %>
