<%- provide(:titlepage, "#{@controller} : #{@page}") %>
<%= render :template => "layouts/application" %>
<table align="center" border="1" width="100%">
  <tr>
    <td width="50%">
      <form name="Navigation_menu" align="left">
        <font size="4" face=<%= @face %> color="purple">
          <%= link_to "Admin", :controller => "server", :action => "admin" %>
        </font>
      </form>
    </td>
    <td width="50%">
      <form name="Time" align="center">
        <div id="clock"></div>
      </form>
    </td>
  </tr>
</table>

<br>

<h2 align="center" >
  <font size="8" face=<%= @face %> color="blue"> Exodus-MORPG </font>
</h2>

<form name="Main_menu" align="center">
  <%- @links_main_menu.each_with_index do |value, index|%>
    <%- if (index % 3 == 0)%>
      <p align="center"  style="margin: 1px;">
        <font size="6" face=<%= @face %>>
          <%= link_to value, :controller => @links_main_menu[index + 1], :action =>  @links_main_menu[index + 2] %>
        </font>
      </p>
    <%- end %>
  <%- end %>

  <br>

  <p align="center">
    <font size="4" face=<%= @face %> color="red"> Coming soon </font>
  </p>
</form>
