<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:titlepage)%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body bgcolor=<%= @bgcolor %>>
    <form name="Navigation_menu" align="left">
      <%- @links_navigation_menu.each_with_index do |value, index|%>
        <%- if (index % 3 == 0)%>
          <font size="4" face="Times New Roman">
            <%= link_to value, :controller => @links_navigation_menu[index + 1], :action =>  @links_navigation_menu[index + 2] %>
          </font>
          <font size="4" face="Times New Roman" color="green">-></font>
        <%- end %>
      <%- end %>
      <font size="4" face="Times New Roman" color="gold"> <%= @page %> </font>
    </form>
    <%= yield %>
  </body>
</html>
