<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:titlepage)%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body bgcolor=<%= @bgcolor %>>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>" align="center">
          <%- if message_type == "danger" %>
            <font size="6" face=<%= @face %> color="red">
              <%= message %>
            </font>
          <%- else %>
            <font size="6" face=<%= @face %> color="green">
              <%= message %>
            </font>
          <%- end %>
        </div>
    <% end %>
    <table align="center" border="1" width="100%">
      <tr>
        <td width="33%">
          <form name="Navigation_menu" align="left">
            <div align="left">
              <%- @links_navigation_menu.each_with_index do |value, index|%>
                <%- if (index % 3 == 0)%>
                  <font size="4" face=<%= @face %>>
                    <%= link_to value, :controller => @links_navigation_menu[index + 1], :action =>  @links_navigation_menu[index + 2] %>
                  </font>
                  <font size="4" face=<%= @face %> color="green">-&nbsp></font>
                <%- end %>
              <%- end %>
              <font size="4" face=<%= @face %> color="gold"><%= @page %></font>
            </div>
          </form>
        </td>
        <td width="34%">
          <form name="Time" align="center">
            <div id="clock" align="center"></div>
          </form>
        </td>
        <td width="33%">
          <form name="Current user" align="right">
              <% if logged_in? %>
                <div align="right">
                  <font size="4" face=<%= @face %> color="gold">
                    <%= link_to "User:", "/users/#{current_user.id}" %>&nbsp<%= current_user.name %>
                    <br>
                    <%= link_to "Log out", '/logout', method: "delete" %>
                  </font>
                </div>
              <% else %>
                <div align="right">
                  <%= link_to "Log in", '/login' %>
                </div>
              <% end %>
          </form>
        </td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
