<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:titlepage)%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body bgcolor=<%= @bgcolor %>>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>" align="center">
          <%- if message_type == "danger" %>
            <font size="6" face="Times New Roman" color="red">
              <%= message %>
            </font>
          <%- else %>
            <font size="6" face="Times New Roman" color="green">
              <%= message %>
            </font>
          <%- end %>
        </div>
    <% end %>
    <table align="center" border="1" width="100%">
      <tr>
        <td width="50%">
          <form name="Navigation_menu" align="left">
            <%- @links_navigation_menu.each_with_index do |value, index|%>
              <%- if (index % 3 == 0)%>
                <font size="4" face="Times New Roman">
                  <%= link_to value, :controller => @links_navigation_menu[index + 1], :action =>  @links_navigation_menu[index + 2] %>
                </font>
                <font size="4" face="Times New Roman" color="green">-></font>
              <%- end %>
            <%- end %>
            <font size="4" face="Times New Roman" color="gold"> <%= @page %> </font>
          </form>
        </td>
        <td width="50%">
          <form name="Current user" align="right">
              <% if logged_in? %>
              <font size="4" face="Times New Roman" color="gold">
                <%= link_to "User:", "/users/#{current_user.id}" %> <%= current_user.name %>
                <br>
                <%= link_to "Log out", '/logout', method: "delete" %>
              </font>
              <% else %>
                <li><%= link_to "Log in", '/login' %></li>
              <% end %>
          </form>
        </td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
